#app {
  font-family: miui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

figure {
  font-size: 0;
}
 
textarea{ 
  resize: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
}

[hidden] {
  display: none;
}
